/*****
RESET SHEET
**********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*************
DIAGNOSTIC
*****************/
img:not([alt]) {
  border: 5px solid red; }

a[href]:not([title]) {
  border: 5px solid red; }

a[title=""] {
  outline: 3px dotted red; }

a[href="#"] {
  background: lime; }

a[href=""] {
  background: fuchsia; }

/*********
 GENERAL 
********/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%; }

img {
  max-width: 100%; }

main {
  position: relative;
  min-height: 100vh;
  color: white; }

.hwp {
  height: 100vh;
  width: 100%;
  position: relative; }

.text--white {
  color: #fff; }

.text--grey {
  color: #4F4F4F; }

.mgtp {
  margin-top: .3em; }

.firstpage {
  padding: 2em 1em 0;
  background: url("../img/background.png") no-repeat bottom;
  background-size: cover; }
  .firstpage .logo {
    margin-top: 3em; }
    .firstpage .logo img {
      height: 45px; }
  .firstpage .line {
    border-bottom: 2px solid #fff;
    margin: 0.5em 0; }
  .firstpage .message {
    width: 60%;
    color: #fff;
    margin-top: 1em; }
    .firstpage .message h5 {
      font-weight: bold; }
    .firstpage .message p {
      font-size: 0.8rem; }

/*** bottom of page and @margin-left removes pawdding-left of parent element and centers item**/
.nextpage {
  position: absolute;
  bottom: calc(100% - 95vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -1em;
  width: inherit;
  color: #fff; }
  .nextpage p {
    font-size: 0.8rem; }
  .nextpage span {
    display: inline-block; }
  .nextpage span:first-child {
    height: 14px;
    width: 14px; }

.aboutUs {
  background: url("../img/aboutUs-bg.png") no-repeat bottom;
  background-size: cover;
  padding: 1em; }
  .aboutUs .aboutUs__msg {
    margin-top: 40vh; }

.page__header span {
  height: 20px; }

.page__header h4 {
  display: inline-block;
  color: #929799;
  font-size: 1.1rem;
  margin-left: 0.5em;
  vertical-align: top; }

.portfolio {
  background: url("../img/portfolio-bg.png") no-repeat bottom;
  background-size: cover;
  padding: 1em; }
  .portfolio .portfolio__msg {
    margin-top: calc(100vh - 60vh);
    text-align: center; }

.contactUs {
  background-color: #E5E5E5;
  padding: 1em;
  color: #4F4F4F;
  padding-bottom: 0; }

.fnt {
  font-size: 0.7em; }

.contactUs__dets {
  background-color: #E5E5E5;
  margin: 0 -1em; }
  .contactUs__dets > div {
    padding: 1em; }

.contactUs__form {
  margin-right: 0.8em; }
  .contactUs__form input[type="text"], .contactUs__form input[type="email"], .contactUs__form textarea {
    padding: 0.7em 1em;
    width: 100%;
    background: #F2F2F2;
    border: 1px solid #E0E0E0;
    margin-bottom: 0.6em;
    display: block; }
    .contactUs__form input[type="text"]:focus, .contactUs__form input[type="email"]:focus, .contactUs__form textarea:focus {
      border: 1px solid #EB5757; }
  .contactUs__form ::placeholder {
    font-size: 0.9em;
    color: #4F4F4F;
    font-style: italic; }
  .contactUs__form button {
    background-color: #EB5757;
    display: inline-block;
    outline: none;
    border: none;
    padding: 0.7em 1em;
    color: #fff;
    transition: all 0.3s ease-in;
    margin-left: 79%; }
    .contactUs__form button span {
      display: inline-block;
      width: 14px; }
    .contactUs__form button:hover {
      background-color: rgba(235, 87, 87, 0.44);
      border: 2px solid #EB5757; }

.contactUs__details {
  background-color: #4F4F4F;
  color: #fff; }
  .contactUs__details h5 {
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0.1em; }
  .contactUs__details .fnt span {
    text-decoration: underline; }

.contact__loc {
  margin-bottom: 0.5em; }
  .contact__loc span {
    display: inline-block;
    width: 14px; }
  .contact__loc p {
    font-size: 0.9em; }

.map {
  margin: 0 -1em;
  height: 50vh; }

footer {
  background-color: #333333;
  display: table;
  width: 100%;
  padding: 0.5em 0; }
  footer > div {
    display: table-cell;
    color: #6D6D6D;
    font-size: 0.7em;
    padding: 0 0.5em; }
  footer .copyright {
    border-right: 2px solid white;
    vertical-align: middle;
    width: 50%; }
  footer .instagram span {
    display: inline-block; }
    footer .instagram span img {
      width: 20px; }
  footer .instagram div {
    display: inline-block;
    margin-left: 0.5em;
    width: 70%;
    line-height: 1.2; }

@-webkit-keyframes fill {
  0% {
    fill: #e79d9d; }
  25% {
    fill-opacity: 0.5; }
  30% {
    fill: #e48281; }
  100% {
    fill: #ed7878; } }

@keyframes fill {
  0% {
    fill: #e79d9d; }
  25% {
    fill-opacity: 0.5; }
  30% {
    fill: #e48281; }
  100% {
    fill: #ed7878; } }

.logoSvg rect {
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate; }

.logoSvg:hover rect {
  -webkit-animation-name: fill;
  animation-name: fill; }

@-webkit-keyframes bounce {
  0% {
    transform: translateY(5px); }
  33% {
    transform: translateY(10px); }
  50% {
    transform: translateY(20px); }
  100% {
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    transform: translateY(5px); }
  33% {
    transform: translateY(10px); }
  50% {
    transform: translateY(20px); }
  100% {
    transform: translateY(0); } }

.nav__arrow {
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-name: bounce;
  cursor: pointer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-name: bounce;
  cursor: pointer; }

@media screen and (min-width: 48em) {
  .firstpage {
    background-image: url("../img/deskbackground.png");
    background-position: center; }
    .firstpage .logo {
      margin-top: 19vh; }
    .firstpage .message {
      margin-top: 3em;
      width: 40%; }
  .page__header {
    margin-top: 2em; }
  .aboutUs {
    background-image: url("../img/aboutUs-deskbg.png");
    background-position: center; }
  .aboutUs__msg {
    width: 40vw;
    margin-left: 50%;
    margin-top: 34vh; }
    .aboutUs__msg h5 {
      font-size: 1.5rem;
      margin-bottom: .5em; }
    .aboutUs__msg p {
      font-size: 1.2rem; }
  .portfolio__msg h2 {
    font-size: 3rem; }
  .nomrg {
    margin-top: 0; }
  .contactUs {
    padding: 0; }
  .contactUs__dets {
    display: flex;
    width: 100%;
    margin: 0; }
    .contactUs__dets > div {
      width: 50%; }
  .contactUs__form button {
    margin-left: 75%; }
  .map {
    margin: 0;
    height: 30vh; } }

/*# sourceMappingURL=stylesheet.css.map */
