/*****************************************
		BLUE STEAM

****************************************/


 * {

 	 /** making use of system fonts***/
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
   
 }

html,body {
	width: 100%; 
  height:100%;
	margin:0;
  padding:0;
  color:black;
}


.txa { text-align: center; }

img{
  max-width: 100%;
  height: auto;
}

a {color: white; text-decoration: none;}

a:hover, a:focus { text-decoration: none; }

ul{ list-style: none; }



 #main_container{

 	   min-height:100%;
     position:relative;
     background-color: black;
     padding-bottom: 10px;
<<<<<<< HEAD
    /* border: 3px solid #0066cc;*/
=======
    
>>>>>>> 7dc04562d4a24f67c453da79deaf2d21d1f035ca
 }

#header {
  
}

#body {
	
   padding-bottom:60px;   /* Height of the footer */
}

#audio, #carouS, #contact, #about { position: relative; }

#about { color:white; }

#footer {

   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   text-align: center;	
}



/****************************
 for navigation
*************************/

/* aninmation on hover effect **/

@keyframes spin {

  25%{
     transform: rotate(32deg);
  }

  50% {
      color:#819bf9;
      transform: rotateY(180deg);
  }
}
.navbar{ margin-bottom: 0px; }

.navbar-brand {
  height:65px;
}

.navbar-brand > img{
  height: 100%;
  width: auto;
}

.navbar-nav{

}

.nav>li>a {
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size:17px;
  letter-spacing: 1px;
}

.nav>li>a>span{ display: inline-block;}

.nav>li>a:hover span { -o-animation: spin 1s ease-out; -ms-animation: spin 1s ease-out; -webkit-animation: spin 1s ease-out; animation: spin 1s ease-out;}

.nav>li>a:focus, .nav>li>a:hover {
  background-color:transparent !important;
}

li.active a { color:#0066cc !important; }

#mobiMenu {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: url("../images/sidenav.jpg") no-repeat top center;
    overflow-x: hidden;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

#mobiMenu ul { padding:0; padding-left: 37px;}
#mobiMenu ul li { margin-bottom: 5px;  }
#mobiMenu li a { font-family: 'Alegreya Sans SC', sans-serif;  font-size: 27px; }
#mobia{ font-size: 36px ; color: #819bf9 }
#mobiMenu a:focus, #mobiMenu a:hover { color:#0066cc; }

#mobiMenu.width { width: 180px; }

@media screen and (min-width: 800px) {
  .navbar-nav {
    margin-top: 7px;
    margin-right:0.2em;
  }

}



/************************
footer 
********************/

#socialicons, #audio { height: 100%; }
#socialicons ul {padding:0; margin-top:10px; margin-bottom:10px;}
#socialicons ul li {display: inline; margin: 2px 6px;}
#audio ul {padding:0; margin-top:17px; margin-bottom:10px;} 
#audio ul li { display: inline; margin:auto 4px;}
#audio a:hover, #audio a:focus { color: #0066cc; } 
#audio i { font-size: 18px; }



@media screen and (min-width: 768px) {
   
    #audio ul  {padding:0; margin-top:17px; margin-bottom:17px;}
    #audio ul li { display: inline; margin:auto 14px;}
    #audio i { font-size: 20px; }

}

/************************
  carous 
**************************/
#carouS { }
.carousel-inner .item img { width: 100%; }

@media screen and (min-width: 768px)
{
     #carouS {  }
     .carousel-inner .item img { height:600px; }
}

/****************************
contact , about 
****************************/

 #contact { background-color:white; padding-top: 1px;}
 #contact h3 { font-size: 18px; }
#dForm {padding-bottom:10px;}
#dForm .btn { padding: 8px 12px; border-radius: 17px; }
.btn-default {color: white; background-color:#0066cc;}
.btn-default:hover, .btn-default.focus, .btn-default:focus { color:black; background-color:#0066cc; }
.form-control {border-radius: 0px; margin-bottom:5px; border:1px solid #0066cc;  -webkit-transition: 1s ease-in;
  transition: 1s ease;} 

/***************
 placeholder
***************/
::-webkit-input-placeholder { font-style: italic; color:black; }
::-moz-placeholder { font-style: italic; color:black; } /* firefox 19+ */
:-ms-input-placeholder { font-style: italic; color:black; } /* ie */
input:-moz-placeholder { font-style: italic; color:black; }

.smiley { content: "&#xf118"; }

.form-control:focus {
    border-bottom-color: ;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:hover { border-bottom:4px solid #819bf9; border-right:2px solid #819bf9 ; }

/** small device **/
.tot-p { padding-right: 10px; padding-left: 10px; }
.tot h2, .tit h2 { text-align: center; }
.work{ height: 50px; margin-bottom: 8px;}
.work img{ float: left; height:100%; }
.work h4 { padding: 14px;}

@media screen and (min-width:768px) and (max-width: 991px)
{
    #bDet, #dForm { width:80%; margin: 0 auto; }
}

@media screen and (min-width:992px)
{
    #about { height: 350px; }
    .tit {  margin-left: 17px; margin-right: 12px; }
    #contact {height:400px; padding:0 3%;}
    #contact h3 { font-size: 24px; }
    #bDet, #dForm { width:48%; height: 379px;}
    #bDet { margin-left: 2%;  }
    #contact iframe { margin-top: 10px;  height:200px; }
}

@media screen and (max-width:767px)
{
   #about { padding-bottom: 10px; }
}

@media screen and (max-width:1000px)
{
   #contact { padding-bottom: 12px; }
}

@media screen and (min-width:320px) and (max-width: 766px)
{
    .tot h2, .tit h2 { font-size: 20px; }
    .aB { padding-bottom: 5px; }
}

@media screen and (min-width:768px)
{
    #about { height:400px; }
   .tot-p { width:100%; max-width:700px; margin:auto; padding:0px !important; }
}

@media screen and (min-width:1200px)
{
   .tot-p { width:100%; max-width:980px; margin:auto;}
}
/**************************
MATERIALS PAGE 
***************************/

#mainn{
  margin:0 auto;
  position: relative;
  width: 100%;
  height: 100vh;
}

#sm-caller { background-color: transparent; border:none; outline: none; }
#mat_header { position: relative; z-index: 100; top: 10px;}
#mat_header button:focus { border:none; }
/** @transfrom pushes it to the center ***/
.mat_Msg { position: relative; top:34%; left: 50%; transform:translate(-50%, -50%); 
            z-index: 4; text-align: center; color: white;  font-family: 'Revalia', cursive;}


/** materials sidebar nav **/

#sidemenu {

  position: fixed;
  top: 0;
  z-index: 70;
  height: 150%;
  width:240px;
  left:-240px;
  margin: auto;
  background: url("../images/sidenav.jpg") no-repeat top center;
  text-transform: uppercase;
  -webkit-transition: left .5s ease-in-out;
  -moz-transition: left .5s ease-in-out;
  -o-transition: left .5s ease-in-out;
  -ms-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
 
}

.sm-hold { position: relative; top: 30%;}
.sm-hold img {  width:80%; margin-bottom:10px;  margin-left: 20px; }
.sm-hold li { margin-bottom: 5px; font-size: 24px; }
.sm-hold li span { transition: color .4s ease-in-out; }
.sm-hold li span { font-family: 'Alegreya Sans SC', sans-serif;  }
.cp-right { margin-top: 10px; font-size: 14px !important; font-weight: bold; } 
.sm-hold li a:hover span { color:#0066cc; }

/** class to add the left:120px to the sidemenu*/
@media screen and (max-width: 767px)
{
  #sidemenu.sm-left { left: 120px; }
}

@media screen and (min-width: 768px)
{
  #sidemenu.sm-left { height:150%; transform:rotate(-30deg); left: 186px; top: -176px; }
  .sm-hold { top: 36%; }
  .sm-hold li { font-size: 27px; }
  .cp-right { transform: rotate(90deg); transform-origin: left; font-size: 17px !important;
    font-weight: bold;}

}

ul.bg-slider {
  margin:0;
  padding: 0;
}

ul.bg-slider li { width: 100%; height: 100vh; position:absolute; top: 0px;
  left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
  -webkit-backface-visibility: hidden; 
   -webkit-animation: bgsliderAnim  12s linear infinite 0s;
    -moz-animation: bgsliderAnim  12s linear infinite 0s;
    -o-animation: bgsliderAnim  12s linear infinite 0s;
    -ms-animation: bgsliderAnim  12s linear infinite 0s;
    animation: bgsliderAnim  12s linear infinite 0s; 

  }

/**** set background image for list ***/
/***** animation to last for 12secs i.e 4s per li so anim-delay ****/
.bg-slider li:nth-child(1) {
  background-image: url("../images/bgslider1.jpg");
}

.bg-slider li:nth-child(2) {
  background-image: url("../images/bgslider2.jpg");
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  -ms-animation-delay: 4s;
   animation-delay: 4s; 
}

.bg-slider li:nth-child(3) {
  background-image: url("../images/bgslider3.jpg");
   -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  -ms-animation-delay: 8s;
   animation-delay: 8s; 
}



/* @keyframes for the background image */


@-webkit-keyframes bgsliderAnim {
  
  0% {
      opacity: 0;
      -webkit-animation-timing-function: ease-in;
  }

  16% {
      opacity: 1;
      -webkit-animation-timing-function: ease-out;
  }

  33% {
      opacity: 1;
  }

  50% {
      opacity: 0;
      
  }
  100% { opacity: 0 }

}


@-moz-keyframes bgsliderAnim {
  
  0% {
      opacity: 0;
      -moz-animation-timing-function: ease-in;
  }

  16% {
      opacity: 1;
      -moz-animation-timing-function: ease-out;
  }

  33% {
      opacity: 1;
  }

  50% {
      opacity: 0;
  }
  100% { opacity: 0 }

}


@-o-keyframes bgsliderAnim {
  
  0% {
      opacity: 0;
      -o-animation-timing-function: ease-in;
  }

  16% {
      opacity: 1;
    -o-animation-timing-function: ease-out;
  }

  33% {
      opacity: 1;
      
  }

  50% {
      opacity: 0;
      
  }
  100% { opacity: 0 }

}

@keyframes bgsliderAnim {
  
  0% {

      opacity: 0;
      animation-timing-function: ease-in;
  }

  16% {
      opacity: 1;
      animation-timing-function: ease-out;
      
  }

  33% {
      opacity: 1;
      
  }

  50% {
      opacity: 0;
      
  }
  100% { opacity: 0 }

}




/********************
COMPETITON PAGE 
***********************/

#compet { margin-top: 15px; margin-left: 20px; margin-right: 20px;}


#compet img {  width: 100%; height: 100%;}

.color  { color: white; text-align: center; }

.color-a { font-size: 20px; }

a.color-a:hover { color:#0066cc; }

a.color-a:active { color:white; }
.compet-info { color: white; margin-top:10px; margin-left: 20px; margin-right: 20px; }

#titl { text-align:center; color:white;}

@media screen and (max-width: 768px)
{
  .color h3, .color-a { font-size: 17px; }

}

@media screen and (min-width:  768px)
{ 
     #compet { height: 400px; }

 }