@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('fonts/CerebriSansPro-SemiBold.woff2') format('woff2'),
        url('fonts/CerebriSansPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('fonts/CerebriSansPro-Light.woff2') format('woff2'),
        url('fonts/CerebriSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ETC-Trispace';
    src: url(fonts/ETCTrispaceVariable.woff2) format("woff2-variations");
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family:'Inter';
    src: url(fonts/Inter-VariableFont.ttf) format("ttf-variations");
    font-weight: 100 900;
    font-display: swap;
}



