@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('https://anurella.github.io/fonts/CerebriSansPro-SemiBold.woff2') format('woff2'),
        url('https://anurella.github.io/fonts/CerebriSansPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('https://anurella.github.io/fonts/CerebriSansPro-Light.woff2') format('woff2'),
        url('https://anurella.github.io/fonts/CerebriSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

